<!-- Product list page which allows users to view our entire inventory in a table format. Option to add a new item to inventory and edit anything currently in inventory. -->
{% extends 'base.html' %}

{% block content %}
<h2 class="text-center "> Current Inventory </h2>
<table class="table table-dark table-striped table-hover">
	<thead>
    <tr>
      <th scope="col">item_id</th>
      <th scope="col">item_name</th>
      <th scope="col">quantity</th>
      <th scope="col">price</th>
      <th scope="col">status</th>
      <th scope ="col">edit </th>
    </tr>
  </thead>
  <tbody>
{% for instance in object_list %}
<tr>
      <th scope="row">{{instance.id}}</th>
      <td>{{instance.name}}</td>
      <td>{{instance.quantity}}</td>
      <td>{{instance.price}}</td>
      <td>{{instance.status}}</td>
      <td> <a href='{{instance.get_absolute_url}}'>edit</a></td>
    </tr>
	<!-- <p> {{instance.id}} - <a href='{{instance.get_absolute_url}}'>{{instance.name}}</a></p>
 -->
{% endfor %}
</tbody>
</table>
<a class="btn btn-success" href="create" >New Item</a>
<a class="btn btn-secondary" href="/logout/" >Log Out</a>
{% endblock %}